body{font-family: 'Montserrat', sans-serif; background-color: #e2e6d6;}
.navbar-brand{padding-left: 2%; padding-right: 20%; margin-right: -15%; font-size: 2rem;}
.navbar-nav{margin-left: 10%;}

.dropdown-item{border-bottom: 1px solid  #cbd4dc;}
.dropdown-item:hover{background-color: #ffc107; border: none;}

.container-1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #484745; 
}

.container-1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*.top{background-color: #ffc107;}*/
.top{background-color: #333;}

.jumbotron{margin-top: 2%;  padding-bottom: 1.5%; color:#fff; font-weight: 600; font-size: 1.10rem;}
.jumbotron p{margin-bottom: 2%; font-size: 1rem;}

h3 a:hover{color:#fdab0d;}

h3{font-size: 1.50rem; padding-top: 3%; padding-bottom: 2%;}

.head{padding-top:2%; padding-bottom:1%; text-align: center; font-size: 2rem; font-weight: 600;}


.btn{position:relative; margin-top: 5%;background-color: #ffc107; font-weight:}
.btn a{color: #000; font-weight: }
.btn a:hover{color:#0b5591; background-color: #e2e6d6; font-weight:}

.row{margin: 2%; background-color:#0b5591; color:#fff; }

.col-sm-4 h1{font-size: 2rem;}
.col-sm-4{padding-left: 0px; padding-right: 0px;}

.blockquote {padding: 3.8% 2% 2% 30%;font-size: 2rem;}

.cerTrain{font-size: 1rem; }
.fa{color:#ffc107;}

.container-fluid h2, h6{text-align: center;}

.desc{padding: 3%; margin-left: 1%; margin-right: 1%;}
.desc a{color:#ffc107;}
.desc a:hover{color:#fff;}

.lead{padding-left: 1%; font-size: 16px;}

.video{width: 100%; height: 100%;}

.h3{padding-top:3%;}

.foot{margin-top:2%; padding-top: 3%;  color:gray;}
.foot-2{margin-top:4%; margin-bottom: -3%; padding-top: 3%; padding-bottom: 4%; color:gray;}
.footer-text{text-align: center; padding-bottom: 4%;}

.contact{margin-top: -5%; color:#fff;}
.email{padding-bottom: 6%; padding-bottom: 4%; color:gray;}
.email-2{padding-right: 4%; padding-bottom: 4%; color:gray;}
.email:hover{color:#fff;}
.email-2:hover{color:#fff;}

.bt{padding-right: 2%;}
.bt:hover{color:#ffc107;}


#button{
  background-color: #ffc107;;
  color:#fff;
  width:100px;
  height: 35px;
  Border-radius:5px; }
Input {border-color: blueviole;}
input text {font-size:1.2em;}
#button:hover{background-color:#000;}
#year {color:#000;font-size: 1.2em;font-weight: bold;text-align: center; margin-top:3%;}
#year:hover{color:#ffc107;}
#lastrow{background-color:lavender;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.blockquote {padding: 3.8% 2% 2% 30%;font-size: 2rem;}
.navbar-brand{padding-left: 2%; padding-right: 10%; margin-right: -9%; font-size: 1.4rem;}
.navbar-nav{margin-left: 2%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .blockquote {padding: 3.8% 2% 2% 7%;font-size: 2rem;}
  .navbar-brand{padding-left: 2%; padding-right: 10%; margin-right: -9%; font-size: 1.4rem;}
  .navbar-nav{margin-left: 2%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .blockquote {padding: 3.8% 2% 2% 30%;font-size: 2rem;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blockquote {padding: 3.8% 2% 2% 30%;font-size: 2rem;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .blockquote {padding: 3.8% 2% 2% 30%;font-size: 2rem;}
}
.navbar-dark .navbar-brand {
    color: #ffc107;
}
#spTitlebar{margin-bottom:0px; padding:1% 5% 1% 5%;}
